*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

li {
  list-style: none;
}

html,
body {
  line-height: 1;
  height: 100%;
}

address {
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
}

/* FORM */
select,
input,
button,
textarea {
  font: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

label {
  display: block;
}      appearance: none;
}

label {
  display: block;
}