@mixin flexbox() { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex;font-size:0;}


@mixin font ($font-family, $font-file) {
  @font-face {
    font-family: $font-family;
    src: url ($font-file+'.eot');
    src: url ($font-file+'.eot?#iefix') format ('embedded-opentype'),
         url ($font-file+'.woff') format ('woff'),
         url ($font-file+'.ttf') format ('truetype'),
         url ($font-file+'.svg#'+$font-family) format ('svg');
    font-weight: normal;
    font-style: normal;
  }
}

@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@include font ('akzidenz', '../fonts/akzidenz');


$fontfamily:'PT Sans';  

$minwidth:320px;
@import "nullstyle.scss";

html,body{
	height:100%;
}
.wrapper{
	overflow:hidden;
	min-height:100%;
	background-color: rgb(240, 133, 139, 1); 
	display:flex;
	flex-direction:column;
}
.container{
	max-width:1080px;
	padding:0px 15px;
}



.content {
	background-color: rgb(240, 133, 139, 1); 
	flex:1 1 auto;
	position:relative;
}





.header {
	
		

			
	&__row {
		position:relative;
		display:flex;
		justify-content:space-between;
		
		
	}
	&__logo {
		display:block;
		line-height:90px; 
    font-size: 20px;
    color: #fff;
    font-family: "Bebas Neue";
    letter-spacing: 1px;
    text-transform:uppercase;
		
	}
	.menu__icon {
		display:none;

	}
	&__menu {}
	.menu__list {
		@include flexbox();
		flex-direction:row;
		
		font-family: "Bebas Neue";
		li{
			list-style:none;
		}
	}
	.menu__link {
		font-size: 15px;
		text-transform:uppercase;
		color: #fff;
		font-weight:500;
		padding-left:15px;
		letter-spacing: 1px;
		line-height:90px;
	}

	

@media (max-width:767px){
	.menu__body{
		overflow:auto;

	}
	.menu__icon{
		display:block;
		position:absolute;
		width:30px;
		height:20px;
		z-index:106;
		top:30px;
		right:0;
		&:before, &:after{
			content:'';
			background-color:#fff;
			position:absolute;
			width:100%;
			height:2px;
			left:0;
			
		}
		&:before{
			top:0;

		}
		&:after{
			bottom:0;
		}
		& span{
			background-color:#fff;
			position:absolute;
			width:100%;
			height:2px;
			left:0;
			top:9px;
		}
	}
	.menu__icon.active:before{
				transform:rotate(45deg);
				top:9px;
			}
			.menu__icon.active:after{
				transform:rotate(-45deg);
				bottom:9px;
			}
			.menu__icon.active span{
				transform:scale(0);
			}

	&__logo {
		
		left:30px;
		z-index:3;


	
		
		img{
			
		}
	}
	&__row {
		height:50px;
	}
	
	.menu__body{
		
		position:fixed;
		top:-100%;
		left:0;
		width:100%;
		height:100%;
		background-color: rgb(240, 133, 139, 1);
		z-index:1;
	}
	.menu__body.active{
			top:0;
			transition: all 0.3s ease 0s;
		}
 .menu__list{
		display:flex;
		margin-top:80px;
		flex-direction:column;
		justify-content:center;
		align-items:center;
		li{
			text-align:center;
			padding:0;
			margin:0;
		}
	

		.menu__link{
			color:#fff;
			line-height:45px;
			font-size:16px;
		}
		
	}
	.header__link1, .header__link2, .header__link3 {
		margin:0;
		padding:0;
	}
}


}




.container {
	max-width:1080px;
	margin:0 auto;
	padding:0 10px;
}






.footer {
	
	&__content {
		max-width:1080px;
		margin:0 auto;
		
		padding:30px 0px;
	}
	&__row {
		
	}
	&__copyright {
		font-size: 16px;
		text-align: left;
		color: #fff;
		line-height:21px;
		
		
	}

	
	
}

//----------------------------------------------------------

.slider {
	background-color: rgb(240, 133, 139, 1); 
	
 position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	&__body {
		text-align:center;
		align:center;
img{

			}
		.slick-dots{
			display:flex;
			justify-content:center;
			align-items:center;
			
			li{
				margin-right:5px;
				button{
					font-size:0;
					width:11px;
					height:11px;
					border-radius:50%;
					border: 1px solid #fff;
					background-color:transparent;
				

				}
				&.slick-active{
					button{
						background-color:#fff;
					}
				}
			}
		}
	}



}

@media (max-width:900px){
		.slider {
		padding:80px 0 40px 0;
	}
	.slider__text {
		margin-bottom:30px;
	}
	}

@media (max-width:600px){
		.slider {
		padding: 40px 0 30px 0;
	}
	.slider__text {
		margin-bottom:20px;
	}
}
.container {
}

.slick-slider{
	position:relative;
	.slick-list{
		overflow:hidden;
	}
	.slick-track{
		display:flex;
		align-items:flex-start;
	}
}


		.item{
			display:block;
			position:relative;
			height:100%;
				.item_image{
					display:block;
					width:100%;
					height:100%;

				}
				.item__logo{
					
					position:absolute;
					top:0;
					left:0;
					width:100%;
					height:100%;
					display:flex;
					justify-content:center;
					align-items:center;
					z-index:2;
					background-color:rgba(100,194,158, 0.4);
					opacity:0;
					visibility:hidden;
					transition: all 0.3s ease 0s;
				}
					
		}
		.item:hover{
						.item__logo{
							opacity:1;
							visibility:visible;
						}
					}





.ibg{
background-position: center;
background-size: cover;
background-repeat: no-repeat;
position: relative;
}

.ibg img{
width: 0;
height: 0;
position: absolute;
top: 0;
left: 0;
opacity: 0;
visibility: hidden;
}


@media (max-width:1100px){
	.discovery {
   
    padding: 30px 0px;
}
.subscribe {
  
    padding: 50px 0px;
   
}


.subscribe__submit{
	margin-top:30px;
	}

	.footer__row{
		flex-direction:column;
		.footer__adress{
		text-align:center;
		margin-bottom:30px;
	}
	.footer__social{
		margin-bottom:30px;
	}
	}

	.footer__content {
   
    padding: 50px 0px;
}
}
input::placeholder {
  color: #929292;
  font-size:20px;
  font-style:italic;
}


.about {
	 margin: 0;
     position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%); 
   

	&__row {
		@include flexbox();
		position:relative;
	}
	&__left {
		flex: 0 0 30%;
		position:relative;
		img{
			border-radius:50%;
			width:100%;
		}
	}
	&__right {
    color:#090;
    flex: 0 0 70%;
    padding-left:120px;
	}
	&__right-title {
		font-family: "Bebas Neue";
		font-weight:600;
		font-size:31px;
		
	}
	&__right-prof {
		font-size:16px;
		font-weight:700;
		margin-bottom:30px;
	}
	&__right-text {
		font-size:15px;
		line-height:25px;
	}
	@media (max-width:840px){
&__left {
display:none;
}
	&__right {
		flex: 0 0 100%;
		padding-left:20px;
		padding-right:20px;
	}
	&{
		position:relative;
		top: 0;
    left: 0;
    margin-right: 0;
    margin-top:30px;
    transform: none;
	}
	}
}




   