*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

li {
  list-style: none;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

html,
body {
  line-height: 1;
  height: 100%;
}

address {
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
}

/* FORM */
select,
input,
button,
textarea {
  font: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

label {
  display: block;
}

body {
  line-height: 1;
  font-size: 0.875rem;
  font-family: "Lato";
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
}

.container {
  max-width: 70.625rem;
  padding: 0rem 0.9375rem;
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}

.main-screen {
  flex: 1 0 100%;
  position: relative;
}
.main-screen__bg {
  background: url("../img/main-screen.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.newgen {
  background: rgb(247, 247, 247);
}
.newgen__content {
  text-align: center;
  align: center;
  max-width: 67.5rem;
  margin: 0 auto;
  padding: 7.5rem 0 8.75rem 0;
}
@media (max-width: 68.75rem) {
  .newgen__content {
    padding: 3.75rem 0 5.625rem;
  }
}

.brands__row {
  display: flex;
  position: relative;
}
.brands__column {
  flex: 0 1 33.333%;
}
.brands__column .item {
  display: block;
  position: relative;
  height: 100%;
}
.brands__column .item .item_image {
  display: block;
  width: 100%;
  height: 100%;
}
.brands__column .item .item__logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  background-color: rgba(100, 194, 158, 0.4);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease 0s;
}
@media (max-width: 68.75rem) {
  .brands__column .item .item_image {
    height: 25rem;
  }
}
.brands__column .item:hover .item__logo {
  opacity: 1;
  visibility: visible;
}
.brands__column_big {
  flex: 0 1 66.667%;
  position: relative;
}

.brands__block {
  padding: 4.375rem 4.0625rem 3.4375rem 4.0625rem;
  position: relative;
}
.brands__block:after {
  display: block;
  content: "";
  width: 0;
  height: 0;
  border-left: 0.625rem solid transparent;
  border-right: 0.625rem solid transparent;
  border-top: 0.625rem solid #fff;
  position: absolute;
  bottom: -0.625rem;
  left: 50%;
  z-index: 5;
  margin-left: -0.625rem;
}

.block__logo {
  text-align: center;
}

.block__title {
  font-size: 1.125rem;
  color: #353738;
  line-height: 5.375rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.225rem;
}

.block__text {
  font-size: 1.125rem;
  text-align: center;
  color: #848789;
  line-height: 2.125rem;
}
.block__text.block__text_j {
  text-align: justify;
  font-size: 1rem;
  line-height: 1.625rem;
}
.block__text.block__text_j:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 3.125rem;
  height: 0.0625rem;
  background-color: RGBA(53, 55, 56, 0.2);
  margin-top: 2.5rem;
}

.brands__img {
  padding-bottom: 38%;
}

@media (max-width: 93.75rem) {
  .brands__block {
    padding: 1.875rem 1.875rem 1.875rem 1.875rem;
  }
  .block__text.block__text_j:after {
    margin-top: 0.9375rem;
  }
}
@media (max-width: 68.75rem) {
  .brands__row {
    flex-direction: column;
  }
  .brands__img {
    display: none;
  }
  .order-1 {
    order: -1;
  }
}
.header {
  position: absolute;
  z-index: 50;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}
.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.header__row {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 10.875rem;
}
.header__logo {
  position: absolute;
  left: 50%;
  margin-left: -2.9688rem;
}
.header .menu__icon {
  display: none;
}
.header .menu__list {
  display: flex;
  flex-direction: row;
}
.header .menu__list li {
  list-style: none;
}
.header .menu__link {
  font-size: 0.8125rem;
  text-transform: uppercase;
  color: #4D4959;
  font-weight: 700;
  letter-spacing: 0.1625rem;
}
.header .header__link1:after {
  content: ".";
  margin: 0 2.1875rem;
}
.header .header__link2 {
  padding-right: 13.875rem;
}
.header .header__link3:after {
  content: ".";
  margin: 0 2.1875rem;
}
@media (max-width: 47.9375rem) {
  .header .menu__body {
    overflow: auto;
  }
  .header .menu__icon {
    display: block;
    position: absolute;
    width: 1.875rem;
    height: 1.25rem;
    z-index: 106;
    top: 0.9375rem;
    right: 1.125rem;
  }
  .header .menu__icon:before, .header .menu__icon:after {
    content: "";
    background-color: #65C29E;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    left: 0;
  }
  .header .menu__icon:before {
    top: 0;
  }
  .header .menu__icon:after {
    bottom: 0;
  }
  .header .menu__icon span {
    background-color: #65C29E;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    left: 0;
    top: 0.5625rem;
  }
  .header .menu__icon.active:before {
    transform: rotate(45deg);
    top: 0.5625rem;
  }
  .header .menu__icon.active:after {
    transform: rotate(-45deg);
    bottom: 0.5625rem;
  }
  .header .menu__icon.active span {
    transform: scale(0);
  }
  .header__logo {
    top: 0.9375rem;
    left: 50%;
    z-index: 3;
    margin-left: -1.5625rem;
  }
  .header__logo img {
    height: 3.125rem;
  }
  .header__row {
    height: 3.125rem;
  }
  .header .menu__body {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4d4959;
    z-index: 1;
  }
  .header .menu__body.active {
    top: 0;
    transition: all 0.3s ease 0s;
  }
  .header .menu__list {
    display: flex;
    margin-top: 5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header .menu__list li {
    text-align: center;
    padding: 0;
    margin: 0;
  }
  .header .menu__list .header__link1:after, .header .menu__list .header__link2:after, .header .menu__list .header__link3:after {
    content: ".";
    display: block;
    line-height: 2.5rem;
    color: #fff;
    margin: 0;
    padding: 0;
  }
  .header .menu__list .menu__link {
    color: #fff;
    line-height: 2.8125rem;
    font-size: 1rem;
  }
  .header .header__link2 {
    margin: 0;
    padding: 0;
  }
}

.container {
  max-width: 73.75rem;
  margin: 0 auto;
  padding: 0 0.625rem;
}

.discovery {
  width: 100%;
  text-align: center;
  background-color: #282F35;
  padding: 4.375rem 0rem;
}
.discovery__link {
  display: block;
  border-color: rgba(255, 255, 255, 0.5);
  border-width: 0.0625rem;
  border-style: solid;
  background: #282F35;
  text-align: center;
  color: #FFFFFF;
  padding: 1.25rem 0rem;
  width: 18.75rem;
  margin: 0 auto;
}

.subscribe {
  width: 100%;
  padding: 6.5625rem 0.9375rem;
  background-color: #fff;
  text-align: center;
}
.subscribe__logo {
  margin-bottom: 2.5rem;
}
.subscribe__text {
  font-size: 1.5rem;
  color: #848789;
  font-style: italic;
  margin-bottom: 2.1875rem;
}
.subscribe__form .subscribe__email {
  width: 25.125rem;
  height: 4.5rem;
  border-color: rgb(211, 215, 217);
  border-width: 0.0625rem;
  border-style: solid;
  font-size: 1.25rem;
  color: #929292;
  padding: 1.8125rem;
  display: inline-block;
  margin: 0;
}
.subscribe__form .subscribe__submit {
  display: inline-block;
  margin-left: 0.625rem;
  width: 8.125rem;
  height: 4.5rem;
  background: rgb(100, 194, 158);
  font-size: 1.5rem;
  color: #FFFFFF;
}

@media (max-width: 36.25rem) {
  .subscribe__form .subscribe__email {
    width: 100%;
  }
  .subscribe__form .subscribe__submit {
    width: 100%;
    margin-left: 0;
  }
}
.footer {
  background-color: #F7F7F7;
}
.footer__content {
  max-width: 67.5rem;
  margin: 0 auto;
  padding: 6.25rem 0rem;
}
.footer__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__adress {
  font-size: 1rem;
  text-align: left;
  color: #848789;
  line-height: 1.3125rem;
}
.footer__adress .city {
  font-weight: 700;
}
.footer__adress .email, .footer__adress .street {
  font-style: italic;
}
.footer__social img {
  padding-right: 0.9375rem;
}
.footer__mancrafted .footer__mancrafted-row {
  display: flex;
  align-items: center;
}
.footer__mancrafted .footer__mancrafted-text {
  font-size: 0.875rem;
  text-align: right;
  color: #848789;
  margin-right: 0.625rem;
  font-style: italic;
}

.slider {
  background-color: #F7F7F7;
  padding: 7.5rem 0 3.75rem 0;
}
.slider__body {
  text-align: center;
  align: center;
}
.slider__body .slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider__body .slick-dots li {
  margin-right: 0.3125rem;
}
.slider__body .slick-dots li button {
  font-size: 0;
  width: 0.6875rem;
  height: 0.6875rem;
  border-radius: 50%;
  border: 0.0625rem solid #c8c8c8;
  background-color: transparent;
}
.slider__body .slick-dots li.slick-active button {
  background-color: #a9afb3;
}
.slider__icon {
  margin: 0 auto;
  margin-bottom: 2.3125rem;
  display: inline-block;
}
.slider__title {
  font-size: 1.125rem;
  color: #353738;
  font-weight: 700;
  margin-bottom: 0.9375rem;
}
.slider__title span {
  color: #A3A5A6;
  font-weight: 300;
  padding-left: 0.625rem;
}
.slider__text {
  font-size: 1.5rem;
  color: #848789;
  margin-bottom: 6.25rem;
  font-style: italic;
  line-height: 2.1875rem;
}

@media (max-width: 56.25rem) {
  .slider {
    padding: 5rem 0 2.5rem 0;
  }
  .slider__text {
    margin-bottom: 1.875rem;
  }
}
@media (max-width: 37.5rem) {
  .slider {
    padding: 2.5rem 0 1.875rem 0;
  }
  .slider__text {
    margin-bottom: 1.25rem;
  }
}
.slick-slider {
  position: relative;
}
.slick-slider .slick-list {
  overflow: hidden;
}
.slick-slider .slick-track {
  display: flex;
  align-items: flex-start;
}

.item {
  display: block;
  position: relative;
  height: 100%;
}
.item .item_image {
  display: block;
  width: 100%;
  height: 100%;
}
.item .item__logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  background-color: rgba(100, 194, 158, 0.4);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease 0s;
}

.item:hover .item__logo {
  opacity: 1;
  visibility: visible;
}

.shop__body {
  display: flex;
}
.shop__column {
  flex: 0 1 16.666%;
  position: relative;
}
.shop__column-big {
  flex: 0 1 33.33%;
  position: relative;
}
.shop__block {
  position: relative;
  height: 100%;
}
.shop__block-row {
  display: flex;
  position: relative;
}

.block__shop-column {
  flex: 0 1 50%;
  position: relative;
}

.block__shop__item-big {
  position: relative;
  height: 33.375rem;
}
.block__shop__item-big .block__shop__item {
  padding-bottom: 50%;
}
.shop__block {
  height: 16.6875rem;
  position: relative;
}

.block__shop-column {
  height: 16.6875rem;
}

.shop__column-row {
  flex-direction: column;
}

@media (max-width: 48rem) {
  .shop__body {
    flex-wrap: wrap;
  }
  .shop__column {
    flex: 0 1 50%;
  }
  .shop__column-big {
    flex: 0 1 100%;
  }
}
.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

@media (max-width: 68.75rem) {
  .discovery {
    padding: 1.875rem 0rem;
  }
  .subscribe {
    padding: 3.125rem 0.9375rem;
  }
  .subscribe__submit {
    margin-top: 1.875rem;
  }
  .footer__row {
    flex-direction: column;
  }
  .footer__row .footer__adress {
    text-align: center;
    margin-bottom: 1.875rem;
  }
  .footer__row .footer__social {
    margin-bottom: 1.875rem;
  }
  .footer__content {
    padding: 3.125rem 0rem;
  }
}
input::-moz-placeholder {
  color: #929292;
  font-size: 1.25rem;
  font-style: italic;
}
input::placeholder {
  color: #929292;
  font-size: 1.25rem;
  font-style: italic;
}