*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

li {
  list-style: none;
}

html,
body {
  line-height: 1;
  height: 100%;
}

address {
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
}

/* FORM */
select,
input,
button,
textarea {
  font: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

label {
  display: block;
}

@font-face {
  font-family: "Akzidenz";
  src: url("../fonts/akzidenz.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Akzidenz";
  src: url("../fonts/akzidenz.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 1;
}

.wrapper {
  padding-top: 30px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.wrapper > main {
  flex-grow: 1;
}

[class*=__container] {
  margin: 0 auto;
  max-width: 910px;
  padding-inline: 15px;
}

.header__top {
  z-index: 50;
}

.top-header__row {
  display: flex;
  position: relative;
  justify-content: space-between;
}
.top-header__left {
  display: flex;
}
.top-header__left a {
  display: block;
  font-size: 10px;
  color: #000000;
  border-bottom: 1px solid #BDBDBD;
  padding: 5px;
  margin-right: 5px;
  font-family: "Bebas Neue";
  letter-spacing: 1px;
}
.top-header__left .active {
  background: rgb(0, 0, 0);
  color: #FFFFFF;
}
.top-header__right {
  padding-top: 5px;
  font-family: "Akzidenz", cursive;
}
.top-header__right a {
  font-size: 15px;
  color: #000000;
  text-decoration: underline;
  text-transform: uppercase;
}

.header {
  width: 100%;
}
.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.header__container {
  position: relative;
}

.logo-header {
  text-align: center;
}

.menu {
  display: flex;
  align-items: center;
  margin-top: -10px;
  margin-bottom: 35px;
}

.menu__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.menu__list li {
  font-weight: 700;
}
@media (max-width: 840px) {
  .menu__list {
    display: block;
  }
}

.column-menu {
  flex: 0 0 33.333%;
}

.link-menu {
  font-size: 15px;
  font-family: "Akzidenz", cursive;
  text-transform: uppercase;
  color: #000;
  letter-spacing: 2px;
  font-weight: 400;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

@media (max-width: 900px) {
  .menu__list li {
    margin-right: 25px;
  }
  .menu__list--2 {
    margin-left: 25px;
  }
}
@media (max-width: 840px) {
  .menu-header .menu__list--2 {
    text-align: left;
    margin-left: 0;
  }
  .menu-header .top-header__left {
    margin-bottom: 10px;
  }
  .top-header__right {
    position: relative;
    z-index: 12;
  }
  .menu {
    margin-top: -30px;
  }
  .logo-header {
    position: relative;
    z-index: 11;
  }
  .logo-header img {
    width: 106px;
  }
  .top-header__row {
    justify-content: flex-end;
  }
  .logo-header {
    flex: 1 1 100%;
    justify-content: flex-center;
  }
  .menu-header {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    left: -120%;
    top: 0;
    background-color: #fff;
    padding: 80px 10px 20px 10px;
    z-index: 4;
    transition: all 0.8s ease 0s;
  }
  .menu-header.active {
    left: 0;
  }
  .menu-header li {
    padding: 5px 0;
  }
}
.menu-icon {
  display: none;
}

@media (max-width: 840px) {
  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    left: 10px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 12;
  }
  .menu-icon span {
    transition: all 0.3s ease 0s;
    top: 8px;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
  }
  .menu-icon span:first-child {
    top: 0px;
  }
  .menu-icon span:last-child {
    top: auto;
    bottom: 0px;
  }
  .menu-icon.active span {
    transform: scale(0);
  }
  .menu-icon.active span:first-child {
    transform: rotate(45deg);
    top: 8px;
  }
  .menu-icon.active span:last-child {
    transform: rotate(-45deg);
    top: 8px;
  }
}
.getintouch__row {
  display: flex;
  position: relative;
}
@media (max-width: 750px) {
  .getintouch__row {
    display: block;
  }
}
.getintouch__map {
  flex: 0 1 50%;
}
@media (max-width: 750px) {
  .getintouch__map {
    height: 300px;
  }
}

.form {
  flex: 0 1 50%;
  padding: 50px 60px;
  background-color: #000000;
}
.form__title {
  font-size: 25px;
  color: #FFFFFF;
  margin-bottom: 25px;
  text-transform: uppercase;
  font-family: "Akzidenz", cursive;
  letter-spacing: 2.5px;
}
.form__name {
  display: block;
  border-color: rgb(149, 149, 149);
  border-width: 2px;
  border-style: solid;
  margin-bottom: 25px;
  padding: 20px;
  background-color: #252525;
  width: 55%;
}
.form__name::-moz-placeholder {
  font-size: 15px;
  color: #959595;
}
.form__name::placeholder {
  font-size: 15px;
  color: #959595;
}
.form__email {
  display: block;
  border-color: rgb(149, 149, 149);
  border-width: 2px;
  border-style: solid;
  margin-bottom: 25px;
  padding: 20px;
  background-color: #252525;
  width: 55%;
}
.form__email::-moz-placeholder {
  font-size: 15px;
  color: #959595;
}
.form__email::placeholder {
  font-size: 15px;
  color: #959595;
}
.form__msg {
  display: block;
  border-color: rgb(149, 149, 149);
  border-width: 2px;
  border-style: solid;
  margin-bottom: 25px;
  padding: 20px;
  background-color: #252525;
  resize: none;
  height: 100px;
  color: #959595;
  width: 55%;
  font-size: 15px;
}
.form__submit {
  display: block;
  padding: 20px 25px;
  background: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 3px;
  font-style: normal;
  text-align: left;
  color: #000000;
  text-transform: uppercase;
  font-family: "Bebas Neue";
}

@media (max-width: 1000px) {
  .getintouch__row {
    flex-direction: column;
  }
  .form__name, .form__email {
    width: 100%;
    max-width: 374px;
  }
  .getintouch .form__msg {
    width: 100%;
    max-width: 374px;
  }
}
@media (max-width: 495px) {
  .form {
    padding-inline: 15px;
  }
}
.footer {
  background-color: #fff;
}
.footer__content {
  max-width: 1080px;
  margin: 0 auto;
}
.footer__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__left {
  font-size: 15px;
  color: #4D4D4D;
  text-align: left;
}
.footer__left a {
  color: #4D4D4D;
  text-decoration: underline;
}
.footer__right {
  padding: 40px 0;
}

@media (max-width: 750px) {
  .footer__row {
    flex-direction: column;
  }
  .footer__left {
    order: 2;
    margin-bottom: 40px;
  }
  .footer__right {
    order: 1;
  }
}
.sayhello {
  padding-top: 80px;
}
.sayhello__container {
  max-width: 880px;
  margin: 0 auto;
}
.sayhello__title {
  font-size: 50px;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-family: "Akzidenz", cursive;
}
.sayhello__row {
  display: flex;
  position: relative;
  padding-top: 30px;
  padding-bottom: 20px;
}
.sayhello__left {
  flex: 0 1 50%;
}
.sayhello__left-adress {
  margin-bottom: 20px;
  position: relative;
  line-height: 30px;
  vertical-align: center;
  padding-left: 30px;
  font-size: 15px;
  color: #000000;
}
.sayhello__left-adress:before {
  content: "";
  position: absolute;
  width: 22px;
  height: 30px;
  left: 0;
  top: 0;
  background: url("../img/adress.png") no-repeat;
}
.sayhello__left-phone {
  font-size: 15px;
  color: #000000;
  position: relative;
  line-height: 30px;
  vertical-align: center;
  padding-left: 30px;
}
.sayhello__left-phone:before {
  content: "";
  position: absolute;
  width: 24px;
  height: 28px;
  left: 0;
  top: 2px;
  background: url("../img/telephone.png") no-repeat;
}
.sayhello__right {
  flex: 0 1 50%;
}
.sayhello__right-email {
  position: relative;
  margin-bottom: 20px;
  font-size: 15px;
  color: #000000;
  line-height: 30px;
  vertical-align: center;
  padding-left: 35px;
}
.sayhello__right-email:before {
  content: "";
  position: absolute;
  width: 29px;
  height: 21px;
  left: 0;
  top: 5px;
  background: url("../img/email.png") no-repeat;
}
.sayhello__right-social img {
  margin-right: 30px;
}

@media (max-width: 1000px) {
  .sayhello__row {
    flex-direction: column;
  }
}
.title-why__row {
  display: flex;
  position: relative;
  width: 100%;
}
.title-why__text {
  flex: 0 1 50%;
  background: rgb(0, 0, 0);
  font-size: 50px;
  font-weight: 700;
  font-style: normal;
  text-align: right;
  color: #FFFFFF;
  padding: 49px;
  text-transform: uppercase;
  font-family: "Akzidenz", cursive;
  letter-spacing: 5px;
}
.title-why__img {
  flex: 0 1 50%;
}

.body-why {
  background-color: #EBEBEB;
}
.body-why__content {
  display: flex;
  position: relative;
  max-width: 910px;
  margin: 0 auto;
  padding: 50px 15px;
}

.left-why {
  flex: 0 1 50%;
}
.left-why__block {
  margin-bottom: 50px;
}
.left-why__row {
  display: flex;
  position: relative;
}
.left-why__img img {
  vertical-align: top;
}
.left-why__body {
  padding: 5px 25px 5px 10px;
}
.left-why__title {
  font-size: 25px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 17px;
  text-transform: uppercase;
  font-family: "Akzidenz", cursive;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 2.5px;
}
.left-why__text {
  font-size: 15px;
  line-height: 26px;
  color: #000000;
}

.right-why {
  flex: 0 1 50%;
}
.right-why__block {
  margin-bottom: 50px;
}
.right-why__row {
  display: flex;
  position: relative;
}
.right-why__body {
  padding: 5px 25px 5px 10px;
}
.right-why__title {
  font-size: 25px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 17px;
  text-transform: uppercase;
  font-family: "Akzidenz", cursive;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 2.5px;
}
.right-why__text {
  font-size: 15px;
  line-height: 26px;
  color: #000000;
}

@media (max-width: 1000px) {
  .title-why__row, .body-why__content {
    flex-direction: column;
    position: relative;
  }
  .body-why__content {
    padding-bottom: 0;
  }
  .left-why, .right-why {
    flex: 0 1 100%;
  }
}
.services {
  padding: 75px 0 40px 0;
  font-family: "Bebas Neue";
}
@media (max-width: 750px) {
  .services {
    padding: 35px 0 0 0;
  }
}
.services__row {
  display: flex;
  position: relative;
  max-width: 880px;
  margin: 0 auto;
}
@media (max-width: 750px) {
  .services__row {
    flex-wrap: wrap;
  }
}

.column-service {
  flex: 0 0 25%;
}
@media (max-width: 750px) {
  .column-service {
    flex: 0 0 50%;
  }
}
@media (max-width: 450px) {
  .column-service {
    flex: 1 1 100%;
  }
}
.column-service__img {
  display: block;
  padding-bottom: 100%;
}
.column-service__body {
  padding: 25px 35px 25px 0px;
}
.column-service__item {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.column-service__title {
  margin-top: 15px;
  max-width: 175px;
  padding-right: 40px;
  font-size: 25px;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-family: "Akzidenz", cursive;
}
.column-service__text {
  font-size: 15px;
  color: #000000;
  line-height: 25px;
  margin-bottom: 27px;
  margin-top: 31px;
  font-family: "PT Sans";
  flex: 1 1 auto;
  font-weight: 400;
}
.column-service__button {
  display: inline-block;
  height: 50px;
  background: rgb(0, 0, 0);
  padding: 0 35px;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFFFFF;
  letter-spacing: 1.5px;
  font-weight: 400;
  line-height: 50px;
  font-family: "Bebas Neue";
}
.column-service__link {
  display: inline-block;
  font-size: 18px;
  font-style: 700;
  margin-top: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 40px;
  color: #000000;
  border-bottom: 1px solid #BDBDBD;
}

.private__row {
  display: flex;
  position: relative;
  font-family: "Bebas Neue", cursive;
}
.private__img {
  flex: 0 1 50%;
}
.private__body {
  flex: 0 1 50%;
  background: rgb(0, 0, 0);
  color: #FFFFFF;
  position: relative;
  padding: 84px 63px;
}
.private__content {
  width: 64%;
}
.private__title {
  font-family: "Akzidenz", cursive;
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.private__text {
  font-family: "PT Sans";
  font-size: 15px;
  line-height: 20px;
  margin-top: 37px;
  margin-bottom: 53px;
}
.private__buttons {
  letter-spacing: 2px;
}
.private__button {
  background: rgb(255, 255, 255);
  color: #000000;
  font-size: 15px;
  display: inline-block;
  padding: 20px 35px;
  text-transform: uppercase;
  font-weight: 700;
}
.private__link {
  font-size: 15px;
  color: #FFFFFE;
  display: inline-block;
  text-transform: uppercase;
  border-bottom: 1px solid #BDBDBD;
  font-style: 700;
  margin-top: 20px;
  margin-left: 13px;
}
@media (max-width: 1000px) {
  .private__content {
    width: 100%;
  }
  .private__title {
    font-size: 35px;
  }
  .private__body {
    padding: 44px 33px;
  }
  .private__text {
    font-size: 13px;
  }
  .private__button {
    font-size: 13px;
  }
  .private__link {
    font-size: 13px;
  }
}
@media (max-width: 750px) {
  .private__img {
    display: none;
  }
  .private__body {
    flex: 0 1 100%;
  }
  .private__content {
    max-width: 310px;
  }
  .private__title {
    font-size: 35px;
  }
  .private__body {
    padding: 44px 33px;
  }
  .private__text {
    font-size: 13px;
  }
  .private__button {
    font-size: 13px;
  }
  .private__link {
    font-size: 13px;
  }
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}