@use "sass:math";
@use "_colors.scss" as *;
@use "_mixins.scss" as *;

.title{
	color:$grey9;
	@include typography("h5", 600);
	line-height: 1.5;
	&--big{
		@include typography("h2", 600);	
	}
}
.link-arrow {
	color: $success;
	line-height: 1.5;
	@include typography("M", 500);
	display: inline-flex;
	flex-direction: row-reverse;
	gap: toRem(12);
	align-items: center;
	transition: color 0.3s;
	&::before {
		@include typography("T");
	}
	@media (any-hover: hover) and (any-pointer: fine) {
		&:hover {
			color: $successDark;
		}
	}
}
.block-header{
	display:flex;
	flex-wrap:wrap;
	gap:0.625rem;
	align-items: center;
	&--center{
		text-align: center;
	}
	&__title{
	flex-grow:1;
	
	}
&--margin{
	margin-bottom: 2rem;
}

		&__slider-arrows { 
			display:flex;
			flex-shrink: 0;
			gap:0.75rem;
		}

		&__slider-arrow {
			width:2.8125rem;
			aspect-ratio:1;
			background-color: $white;
			border:0.0625rem solid $grey1;
			border-radius:50%;
			// align-content:center;
			// text-align:center;
			display:flex;
			justify-content: center;
			align-items:center;
			@include typography("M");
			color:$grey9;
			transition:
			background-color 0.3s,
			color 0.3s,
			border-color 0.3s;
			@media (any-hover: hover) and (any-pointer: fine) {
		&:hover{
			background-color: $success;
			color:$white;
			border-color:$success;
		}
	}
		}

		&__slider-arrow--left {
			transform: rotate(-180deg);
		}


}
// =====================================
.button {
	border-radius: toRem(43);
	padding-inline: toRem(40);
	padding-block: toRem(16);
	background-color: $success;
	@include typography("M", 600);
	color: $white;
	transition:
		background-color 0.3s,
		color 0.3s;

	&--white {
		background-color: $white;
		color: $success;
	}
	&--middle {
		@include typography("S", 600);
		padding-inline: toRem(32);
		padding-block: toRem(14.11);
	}
	&--small {
		@include typography("T", 600);
		padding-inline: toRem(24);
		padding-block: toRem(10);
	}
	&--arrow {
		display: inline-flex;
		justify-content: center;
		flex-direction: row-reverse;
		align-items: center;
		gap: toRem(12);
		&::before {
			content: "\e900";
			font-family: "iconfont";
			@include typography("T");
		}
	}

	@media (any-hover: hover) and (any-pointer: fine) {
		&:hover {
			color: $white;
			background-color: $successDark;
		}
	}
}

// =====================================

.icon-menu {
	@media (min-width: toEm($mobile)) {
		display: none;
	}
	@media (max-width: toEm($mobile)) {
			align-self: center;
			position:relative;
			width:1.875rem;
			height:1.125rem;
			z-index:6;
			span,&::before, &::after{
				content:'';
				position: absolute;
				height:0.125rem;
				width:100%;
				left:0;
				background-color:$white; 
			}
			span{
				top:50%;
				transform: translate(0, -50%);
			}
			&::before{
				top:0;
			}
			&::after{
				bottom:0; 
			}
			.open-menu & {
			span {
				width: 0;
			}
			&::before {
				top: 50%;
				rotate: -45deg;
				translate: 0 -50%;
			}
			&::after {
				rotate: 45deg;
				translate: 0 50%;
				bottom: 50%;
			}
		}
		}
}
// ======= Products ================
		
.price{
	display:flex;
	gap:0.125rem;
}
.price__old{
	color: #999;
	font-size: 1rem;
	line-height: 150%; 
	text-decoration-line: line-through;
}

.products{
display: grid;
	grid-template-columns: repeat(auto-fill, minmax(toRem(250), 1fr));
}
.product-card {	
	position:relative; 
	overflow: hidden;
	flex: 0 0 calc(20% + 0.0625rem);
	border: 0.0625rem solid #E6E6E6;
	padding:0.25rem;
	margin: 0 -0.0625rem -0.0625rem 0;
   transition: border-color 0.3s, box-shadow 0.3s;
   display:flex;
   flex-direction: column;
	&__header{
		position:relative;
	}
&--big {
		@media (min-width: toEm(580)) {
			grid-column: span 2;
			grid-row: span 2;
		}

		.product-card__body {
			padding: toRem(12) toRem(12) toRem(24) toRem(12);
			flex-direction: column;
			text-align: center;
			gap: toRem(18);
		}
		.product-card__content {
display:block;
height:auto;
padding-bottom:1.125rem;
		}
		.product-card__title {
			@include typography("L");
		}
		.product-card__price {
			justify-content: center;
		}
		.price__new {
			@include typography("XXL", 500);
		}
		.price__old {
			@include typography("XXL");
		}
		.product-card__image {
			aspect-ratio: 527 / 448;
		}
	}
&__line-actions {
		position: absolute;
		width: 100%;
		bottom: toRem(24);
		left: 0;
		&:not(:last-child) {
			margin-bottom: toRem(36);
		}
	}
	&__countdown {
		max-width: toRem(251);
		margin: 0 auto;
	}

}
@media (max-width: 62rem) {
 .product-card {
		flex: 0 0 calc(25% + 0.0625rem);
	}
}
@media (max-width: 48rem) {
 .product-card {
		flex: 0 0 calc(33.333% + 0.0625rem);
	}
}
@media (max-width: 40.625rem) {
 .product-card {
		flex: 0 0 calc(50% + 0.0625rem);
	}
}
@media (max-width: 28.125rem) {
 .product-card {
		flex: 0 0 calc(100% + 0.0625rem);
	}
	.section-header{
		gap:0.9375rem;
	}
}
.product-card__icons{
	overflow: hidden;
	display: flex;
	flex-direction: column;
	gap: 0.375rem;
	position:absolute; 
	top:1rem;
	right:1rem;
	
	transition: translate 0.3s;
	z-index:10;
}
.product-card__wishlist{
translate: 6.25rem 0;
		background-color: $white;
		border: 0.0625rem solid $grey05;
		border-radius: 50%;
		width: 2.5rem;
		aspect-ratio: 1;
		display: flex;
		justify-content: center;
		align-items: center;
		@include typography("XL");
		transition: all 0.3s;
		color: $grey9;
			@media (any-hover: hover) and (any-pointer: fine) {
			&:hover {
				background-color: $success;
				color: $white;
			}
		}
}
.product-card__quick-view{
 translate: 6.25rem 0;
		background-color: $white;
		border: 0.0625rem solid $grey05;
		border-radius: 50%;
		width: 2.5rem;
		aspect-ratio: 1;
		display: flex;
		justify-content: center;
		align-items: center;
		@include typography("XL");
		transition: all 0.3s;
		color: $grey9;
			@media (any-hover: hover) and (any-pointer: fine) {
			&:hover {
				background-color: $success;
				color: $white;
			}
		}
}


.product-card__add-to-cart {
		transition: background-color 0.3s;
		width: toRem(40);
		aspect-ratio: 1;
		background-color: $grey05;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		&::before {
			transition: color 0.3s;
			color: $grey9;
			font-size: toRem(15);
			content: "\e902";
			font-family: "iconfont";
		}
}
.product-card__label{
	position:absolute;
	gap: 0.5rem;
   top: 1rem;
   left: 1rem;
	display:flex;
	flex-wrap: wrap;
	z-index:1;
}
.product-card__sale{
	color: #FFF;
	font-size: 0.875rem;
	line-height: 150%; 
	border-radius: 0.25rem;
	background: #EA4B48;
	padding: 0.1875rem 0.5rem;
	@media (any-hover: hover) and (any-pointer: fine) {
				&:hover {
					background-color: #aa3634;
				}
			}
}
.product-card__best{
	color: #FFF;
	font-size: 0.875rem;
	line-height: 150%; 
	border-radius: 0.25rem;
	background-color: #2388ff;
	padding: 0.1875rem 0.5rem;
	@media (any-hover: hover) and (any-pointer: fine) {
				&:hover {
					background-color: #1757a0;
				}
			}
}
	.product-card__image{
		display: flex;
		flex-direction: column;
		padding: toRem(5);
		aspect-ratio: 254 / 230;
		position:relative;
	}
.product-card__image img{
	width: 100%;
   height: 100%;
   object-fit: contain;
	position:absolute;
	top:0;
	left:0;
	}
	
.product-card__content{
	padding:0.75rem 0.4375rem;
	display:flex;
	justify-content:space-between;
	align-items:center;
	height:100%;
}
.product-card__text{
	display:flex;
	flex-direction:column;
	align-self:start;
	height:100%;
}
	.product-card__title {
		color: #2C742F;

		font-size: 0.875rem;
		line-height: 150%;
		
	}

	.product-card__price {
		color:  #1A1A1A;
		font-size: 1rem;
		font-weight: 500;
		line-height: 150%; 
		margin-bottom: 0.375rem; 
		flex-grow:1;
	}

.line-actions {
	display: flex;
	gap: 0.5rem;
	@include adaptiveValue("padding-inline", 24, 15);
	align-items: center;
	&__add-to-cart {
		color: $grey9;
		flex-grow: 1;
		transition:color 0.3s,background-color 0.3s;
		background-color: $grey05;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 12px;
		&::after {
			transition: color 0.3s;
			font-size: 0.9375rem;
			content: "\e902";
			font-family: "iconfont";
		}
	}
	// .line-actions__item
	&__item {
		color: $grey9;
		width: 2.875rem;
		aspect-ratio: 1;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $grey05;
		transition: all 0.3s;

		@media (any-hover: hover) and (any-pointer: fine) {
			&:hover {
				background-color: $success;
				color: $white;
			}
		}
	}
}
		@media (any-hover: hover) and (any-pointer: fine) {
		.product-card:hover {
			box-shadow: 0 0 0.75rem 0 rgba(32, 181, 38, 0.32);
	border: 0.0625rem solid #2C742F;
	z-index: 2;
			.product-card__add-to-cart {
				background-color: #00B207;
				color: $white;
				&::before {
					color: $white;
				}
			}
			.line-actions__add-to-cart {
				background-color: #00B207;
				color: $white;
				&::before {
					color: $white;
				}
			}
			.product-card__title {
				color: $successDark;
			}
			.product-card__wishlist {
				translate: 0 0;
			}
			.product-card__quick-view {
				translate: 0 0;
			}
		}
.product-card__wishlist:hover{
	background-color:	#00B207;
	border:0.0625rem solid #00B207;
}
.product-card__quick-view:hover{
	background-color:	#00B207;
	border:0.0625rem solid #00B207;
}
	}

// ========== news ===================

	.latest-news__container{
		padding-bottom: 3.75rem;
	}
.item-news{
		border-radius: 0.5rem;
}
.item-news__info{
	display:flex;
	gap:1rem;
	margin-bottom: 0.5rem;
}
		.item-news__category {
			color: #4D4D4D;
			font-size: 0.875rem;
			line-height: 150%;
			display:flex;
			gap:0.25rem;
			align-items: center;
		}
		.item-news__category::before {
			   content:"";
				width: 1.25rem;
				height: 1.25rem;
				background: url("../img/category.svg") no-repeat;
		}
		.by{
			color: #808080;
		}
		.item-news__author {
			color: #4D4D4D;
			font-size: 0.875rem;
			line-height: 150%;
			display:flex;
			gap:0.25rem;
			align-items: center;
		}
.item-news__author::before {
			   content:"";
				width: 1.25rem;
				height: 1.25rem;
				background: url("../img/author.svg") no-repeat;
		}
		.item-news__comments {
			color: #666;
			font-size: 0.875rem;
			line-height: 150%; 
			display:flex;
			gap:0.25rem;
			align-items: center;
		}
.item-news__comments::before {
			   content:"";
				width: 1.125rem;
				height: 1.125rem;
				background: url("../img/comments.svg") no-repeat;
				flex-shrink: 0;
		}

		.latest-news__title {
			text-align: center;
			color: #1A1A1A;
			font-size: 2rem;
			font-weight: 600;
			line-height: 120%; 
			margin-bottom: 2rem;
		}

		.latest-news__items {
			display:flex;
			gap:1.5rem;
			flex-wrap:wrap;
		}

.item-news {
	flex: 0 1 calc(100% / 3 - ((1.5rem * (3 - 1)) / 3));
	position:relative;
	display:flex;
	flex-direction:column;

    border: 0.0625rem solid #E6E6E6;
    border-radius: 0.5rem;
    transition: 0.3s;
	 overflow:hidden;
}

@media (max-width: 60.625rem) {
.item-news {
	flex: 0 1 calc(100% / 2 - ((1.5rem * (2 - 1)) / 2));

	}
}

@media (max-width: 40.625rem) {
.item-news {
	flex: 0 1 calc(100% / 1 - ((1.5rem * (1 - 1)) / 1));
	}
	.section-header__title{
		font-size: 1.25rem;
	}
	.section-header__link{
		font-size: 0.875rem;
	}
}



.item-news__image{
	position:relative;
	overflow: hidden;
	aspect-ratio: 424 / 324;
	background:#d3d3d3;
}

.item-news__image img{
		width:100%;
		height:100%;
		object-fit: cover;
		object-position:center;
transition: transform 0.3s;
      will-change: transform;
}
.item-news__image:hover img {
	transform: scale(1.1);
}
.item-news__content{ 
	padding: 1.5rem;
	display:flex;
	flex-direction: column;
	flex-grow: 1;
}
		.item-news__date {
			position:absolute;
			left:1.5rem;
			bottom:1.5rem;
			display:flex;
			flex-direction: column;
			padding: 0.375rem 0.9375rem 0.625rem 0.9375rem;
			align-items: center;
			border-radius: 0.25rem;
			background: #FFF;
		}
		.date__day{
color: #1A1A1A;
font-size: 1.25rem;
font-weight: 500;
line-height: 150%; 
		}
.date__month{
			color: #808080;
				font-size: 0.75rem;
				font-weight: 500;
				letter-spacing: 0.0225rem;
				text-transform: uppercase;
		}


		.item-news__title a{
			color: #1A1A1A;
			font-size: 1.125rem;
			font-weight: 500;
			line-height: 150%; 
			margin-bottom: 1.25rem;
			
		}
		.item-news__title{
flex-grow: 1;
		}

		.item-news__read-more {
			color: #00B207;
			font-size: 1rem;
			font-weight: 600;
			line-height: 120%; 
			display:flex;
			align-items: center;
			gap:0.75rem;
		}
		.item-news__read-more::after {
				content:"";
				width: 1.0625rem;
				height: 0.875rem;
				background: url("../img/arrow.svg") no-repeat;
		}


	



@media (any-hover: hover){
.section-header__link:hover, .item-news__read-more:hover{
			text-decoration: underline;
		}


.item-news:hover {
	box-shadow: 0 1.25rem 3.125rem 0 rgba(0, 0, 0, 0.08);
}
.item-news__title a:hover {
			color: #2C742F;
			
}
}

@media (any-hover: none) {
   .product-card__quick-view{
	translate: 0 0;
}
.product-card__wishlist{
	translate: 0 0;
}
}

//=============================================

.countdown {
	&--mini {
		max-width:160px;
		.countdown__digits {
			@include typography("L", 500);
			color: $grey9;
		}
		.countdown__labels {
			color: $grey4;
			font-size: 0.625rem;
		}
	}
	&__label {
		text-align: center;
		font-size: 0.875rem;
		color: $grey4;
		&:not(:last-child) {
			margin-bottom: 0.5rem;
		}
	}
	// .countdown__timer
	&__timer {
		text-align: center;
	}
	// .countdown__digits
	&__digits {
		display: flex;
		@include typography("XXL");
		&:not(:last-child) {
			margin-bottom: 0.25rem;
		}
		span {
			position: relative;
			flex-grow: 1;
			flex-basis: 1.25rem;
			&:not(:last-child) {
				&::after {
					content: ":";
					position: absolute;
					right: 0;
					top: 50%;
					translate: 0 -50%;
				}
			}
		}
	}
	// .countdown__labels
	&__labels {
		display: flex;
		font-size: 0.75rem;
		text-transform: uppercase;
		span {
			flex-grow: 1;
			flex-basis: 1.25rem;
		}
	}
}
