@use "_colors.scss" as *;
@use "_mixins.scss" as *;

.header {
	position: sticky;
	top: 0;
	z-index: 50;
	background-color: $white;
	// .header__top
	&__top {
		border-bottom: 0.0625rem solid $grey1;
	}
}
.top-header {
	// .top-header__container 
	&__container {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		padding-block: toRem(12);
		gap: toRem(5) toRem(10);

		@media (max-width: toEm($mobile)) {
			flex-direction: column-reverse;
			gap: toRem(20);
			background-color: $grey9;
			border-radius: toRem(8);
		}
	}
	// .top-header__link-location
	&__link-location {
		display: inline-flex;
		align-items: center;
		gap: toRem(8);
		@include typography("T");
		transition: color 0.3s;
		&::before {
			align-self: flex-start;
			@include typography("L");
		}
		@media (any-hover: hover) and (any-pointer: fine) {
			&:hover {
				color: $successDark;
			}
		}
		@media (max-width: toEm($mobile)) {
			color: $white;
			@include typography("L");
			&::before {
				@include typography("XXL");
			}
		}
	}
	@media (max-width: toEm($mobile)) {
	}
}
.actions-top-header {
	display: flex;
	gap: toRem(20);
	align-items: center;
	@media (max-width: toEm($mobile)) {
		flex-direction: column;
	}
}
.lang-currency {
	display: flex;
	align-items: center;
	gap: toRem(20);

	@media (min-width: toEm($mobile)) {
		&::after {
			content: "";
			width: toRem(1);
			height: toRem(15);
			background-color: $grey1;
		}
	}
	// .lang-currency__element
	&__element {
		position: relative;
		&::before {
			position: absolute;
			right: 0;
			top: 50%;
			translate: 0 -50%;
			font-size: toRem(4.5);
			pointer-events: none;
			@media (max-width: toEm($mobile)) {
				font-size: toRem(8);
				color: $white;
			}
		}
	}
	// .lang-currency__select
	&__select {
		padding-right: toRem(10.5);
		appearance: none;
		@include typography("T");
		@media (max-width: toEm($mobile)) {
			padding-right: toRem(17);
			@include typography("XXL");
			color: $white;
			option {
				color: $grey9;
			}
		}
	}
}
.auth-top-header {
	@include typography("T");
	// .auth-top-header__link
	&__link {
		@media (any-hover: hover) and (any-pointer: fine) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
	@media (max-width: toEm($mobile)) {
		@include typography("XL");
		color: $white;
	}
}
//========================================================================================================================================================
.body-header {
	background-color: $white;
	position: relative;
	z-index: 5;
	// .body-header__container
	&__container {
		// flex-wrap: wrap;
		gap: 0.3125rem 0.625rem;
		display: flex;
		align-items: center;
		padding-block:1.5rem;
		justify-content: space-between;
	}
	// .body-header__logo
	&__logo {
		flex-shrink: 0;
		@media (max-width: toEm($mobile)){
			flex-grow:1;
		}
	}
	&__place-search {
		flex-basis: toRem(498);
		@media (max-width: toEm($mobile)) {
			display: none;
		}
	}
	// .body-header__search
	&__search {
		margin-left: toRem(8);
		flex-grow:1;
		
		@media (min-width: toEm($tablet)) {
			margin-left: 0.5rem;
		}
		
	}
	// .body-header__actions
	&__actions {
		flex-shrink: 0;
	}
}
.logo-header {
	display: flex;
	gap: 0.5rem;
	align-items: center;
	// .logo-header__text
	&__text {
		color: $green9;
		@include typography("h5", 500);
		
@media (max-width: 38.4375rem){
	@include typography("XXL", 500);
}
	}
}
.search-header {
	position: relative;
	z-index:6;
	&:not(.--dynamic) {
		outline: toRem(1) solid $grey1;
	}
	border-radius: 0.375rem;
	display: flex;
	align-items: center;

	// .search-header__input
	&__input {
		background-color: $white;
		padding-left: 2.75rem;
		padding-right: 0.625rem;
		height: toRem(45);
		color: $grey9;
		border-radius: 0.375rem 0 0 0.375rem;
		@include typography("M");
		&::placeholder {
			color: $grey5;
			transition: opacity 0.1s;
		}
		&:focus::placeholder {
			opacity: 0;
		}
	}
	// .search-header__button
	&__button {
		padding-inline: toRem(24);
		border-radius: 0 toRem(6) toRem(6) 0;
	}
	&::before {
		@include typography("M");
		color: $grey9;
		top: 50%;
		translate: 0 -50%;
		left: toRem(17.5);
		position: absolute;
		pointer-events: none;
	}
}
.actions-header {
	display: flex;
	align-items: center;
	gap: toRem(17.4);
	// .actions-header__favorite
	&__favorite {
		display: flex;
		gap: toRem(17.4);
		color: $grey9;
		transition: color 0.3s;
		&::before {
			@include typography("XXL");
		}
	
		@media (any-hover: hover) and (any-pointer: fine) {
			&:hover {
				color: $successDark;
			}
		}
		@media (min-width: toEm($mobile)){
	&:not(:last-child) {
			&::after {
				content: "";
				width: toRem(1);
				height: toRem(24);
				background-color: $grey2;
			}
		}
		}
	}
}
.cart-header {
	display: flex;
	gap: toRem(12);
	align-items: center;
	* {
		transition: color 0.3s;
	}
	// .cart-header__icon
	&__icon {
		color: $grey9;
		@include typography("XXL");
		position: relative;
		span {
			position: absolute;
			right: toRem(-5.5);
			top: toRem(-5.5);
			font-size: toRem(10);
			line-height: 1;
			width: toRem(18);
			aspect-ratio: 1;
			border-radius: 50%;
			outline: toRem(1) solid $white;
			background-color: $successDark;
			color: $white;

			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
	// .cart-header__body
	&__body {
		@media (max-width:toEm($mobile)){
			display:none;
		}
	}
	// .cart-header__label
	&__label {
		color: $grey7;
		@include typography("XT");
	}
	// .cart-header__value
	&__value {
		@include typography("S", 500);
		color: $grey9;
	}
	@media (any-hover: hover) and (any-pointer: fine) {
		&:hover {
			.cart-header__icon,
			.cart-header__label,
			.cart-header__value {
				color: $successDark;
			}
		}
	}
}
//========================================================================================================================================================
.bottom-header {
	position: relative;
	&::before {
		content: "";
		background-color: $grey8;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		z-index: 5;
		left: 0;
	}
	// .bottom-header__container
	&__container {
		display: flex;
align-items: center;
		gap: toRem(10);
		@media (max-width: toEm($mobile)){
			padding-block:0.625rem;
		}
	}
	// .bottom-header__menu
	&__menu {
		flex-grow: 1;
	}
	// .bottom-header__phone
	&__phone {
		position: relative;
		
		z-index: 6;
		flex-shrink:0;
		
		color: $white;
		display: inline-flex;
		align-items: center;
		gap: toRem(10.7);
		@include typography("S", 500);
		transition: color 0.3s;
		&:not(.--dynamic){
			padding-block: toRem(19.5);
			align-self: start;
		}
		&::before {
			@include typography("XL");
		}
	
		@media (any-hover: hover) and (any-pointer: fine) {
			&:hover {
				color: $success;
			}
		}
			&.--dynamic {
			color: $grey9;
			span {
				display: none;

			}
		}
	}
}
.menu {
	display: flex;
	@media (max-width: toEm($mobile)) {
		display: block;
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		right: 100%;
		transition: right 0.5s;
		overflow: auto;
		padding: toRem(130) toRem(15) toRem(30) toRem(15);
		// z-index: 5;
		background-color: $successDark;

		.open-menu & {
			right: 0;
		}
	}
	// .menu__body
	&__body {
		@media (min-width: toEm($mobile)) {
			display: flex;
		}
	}
	// .menu__list
	&__list {
		display: flex;
		flex-wrap: wrap;
		gap: toRem(0) toRem(35);
		@media (max-width: toEm($mobile)) {
			text-align: right;
			flex-direction: column;
			margin-bottom: toRem(15);
		}
	}
	// .menu__item
	&__item {
		position: relative;
		color: $grey4;
		display: flex;
		transition: color 0.3s;
		@media (any-hover: hover) and (any-pointer: fine) {
			&:hover {
				color: $white;
				.sub-menu {
					pointer-events: auto;
					translate: 0 toRem(0);
				}
			}
		}
		&.--active {
			color: $white;
			.sub-menu {
				pointer-events: auto;
				translate: 0 toRem(0);
			}
			.menu__button {
				&::before {
					rotate: -180deg;
				}
			}
		}
		@media (max-width: toEm($mobile)) {
			justify-content: flex-end;
			flex-wrap: wrap;
			flex-basis: 100%;
		}
	}
	// .menu__link
	&__link {
		display: flex;
		align-items: center;
		padding-block: toRem(16);
		@include typography("S", 500);
		position: relative;
		z-index: 6; 
		@media (max-width: toEm($mobile)) {
			color: $white;
			padding-block: toRem(15);
			@include typography("h4", 500);
		}
	}
	// .menu__button
	&__button {
		position: relative;
		z-index: 6;
		padding-left: 0.4188rem;
		transition: color 0.3s;
		font-size: 0.375rem;
		&::before {
			transition: all 0.3s;
		}
		@media (max-width: toEm($mobile)) {
			display: none;
		}
	}
}
.sub-menu {
	transition: all 0.3s;
	padding: toRem(15);
	background-color: $successDark;
	border-radius: 0 0 toRem(8) toRem(8);
	// .sub-menu__item
	&__item {
		&:not(:last-child) {
			margin-bottom: toRem(8);
			@media (max-width: toEm($mobile)) {
				margin-bottom: toRem(15);
			}
		}
	}
	// .sub-menu__link
	&__link {
		@include typography("M");
		color: $white;
		@media (any-hover: hover) and (any-pointer: fine) {
			&:hover {
				text-decoration: underline;
			}
		}
		@media (max-width: toEm($mobile)) {
			@include typography("XL");
		}
	}
	@media (max-width: toEm($mobile)) {
		flex-grow: 1;
		flex-basis: 100%;
		background-color: $grey9;
		border-radius: toRem(8);
	}
	@media (min-width: toEm($mobile)) {
		position: absolute;
		left: toRem(-15);
		top: 100%;
		translate: 0 -100%;
		pointer-events: none;
		width: toRem(200);
	}
}